{:tasks {:init               (do (def global "global")
                                 (def client-test-out-dir "out"))

         clean-client        {:requires ([babashka.fs :as fs])
                              :task     (let [resources-out "resources/out"
                                              resources-public-js "resources/public/js"
                                              dirs [resources-out resources-public-js client-test-out-dir]
                                              files []]
                                          (println "Cleaning (client)")
                                          (println "  " (clojure.string/join ", " dirs))
                                          (doseq [dir dirs]
                                            (fs/delete-tree dir))
                                          (println "  " (clojure.string/join ", " files))
                                          (doseq [file files]
                                            (fs/delete-if-exists file)))}

         clean-server        {:requires ([babashka.fs :as fs])
                              :task     (let [target-dir "target"]
                                          (println "Cleaning (server)")
                                          (println "  " target-dir)
                                          (fs/delete-tree target-dir))}

         clean               (do
                               (run 'clean-client)
                               (run 'clean-server))

         build-dev-client    (do
                               (println "Compiling ClojureScript development build")
                               (shell "npx shadow-cljs compile app"))

         build-client        (do
                               (println "Compiling ClojureScript release build")
                               (shell "npx shadow-cljs release app"))

         build-server        (do
                               (println "Compiling Clojure")
                               (clojure "-T:uberjar uber"))

         export {:requires ([babashka.fs :as fs]
                            [babashka.process :as p])
                 :task (let [export-destination (fs/path "/media/sf_Share/artifacts/packages/bardigan-cay")]
                    ;; copy to Share
                         (let [bb-dir (fs/parent (System/getProperty "babashka.config"))
                               target-dir (fs/path bb-dir "target")
                               latest-jar (->> (fs/glob target-dir "clj-ts*.jar")
                                               (sort-by fs/creation-time)
                                               (last))]
                           (fs/create-dirs export-destination)
                           (fs/copy latest-jar export-destination {:replace-existing true}))

                  ;; prune artifacts
                         (let [retain-count 5
                               prunable-jars (->> (fs/glob export-destination "**/clj-ts*.jar" {:follow-links true})
                                                  (map fs/parent)
                                                  (sort-by fs/creation-time)
                                                  (drop-last retain-count))]
                           (doseq [prunable-jar prunable-jars]
                             (fs/delete-if-exists prunable-jar))))}

         all                 (do
                               (run 'test)
                               (run 'clean-client)
                               (run 'build-client)
                               (run 'clean-server)
                               (run 'build-server)
                               (run 'export))

         run-dev-client      (shell "npx shadow-cljs watch app")
         run-dev-client-repl (run 'run-dev-client)          ;; shadow provides nrepl
         run-dev-server      (let [cli-args (clojure.string/join " " *command-line-args*)
                                   default-args ["--directory" "'../../Documents/wiki/bedrock/'" "--export-dir" "'../../Documents/wiki/bedrock/exported/'"]
                                   args (concat default-args *command-line-args*)
                                   base-command "-M:run-dev-server:dev-server:server:dev"
                                   command (format "%s %s" base-command (clojure.string/join " " args))]
                               (clojure command))
         run-dev-server-repl (clojure "-M:nrepl-main:dev-server:server:dev")
         run-minimal         (do (run 'build-dev-client)
                                 (run 'run-dev-server))

         test-client         (do
                               (shell "npx shadow-cljs compile tests")
                               (let [client-tests-path (format "%s/node-tests.js" client-test-out-dir)]
                                 (shell "node out/node-tests.js")))
         test-server         (clojure "-M:test-server:server:server-tests")
         test                (do
                               (run 'test-client)
                               (run 'test-server))}}

