{:paths ["resources" "src/common"]
 :deps  {org.clojure/core.async        {:mvn/version "1.6.673"}
         markdown-clj/markdown-clj     {:mvn/version "1.11.4"}
         io.replikativ/hasch           {:mvn/version "0.3.94"}
         com.alchemyislands/patterning {:mvn/version "0.5.4-SNAPSHOT"}
         org.babashka/sci              {:mvn/version "0.7.38"}
         org.slf4j/slf4j-nop           {:mvn/version "2.0.5"}}

 :aliases
 {

  :dev
  {:extra-paths ["dev"]
   :extra-deps  {expound/expound   {:mvn/version "0.9.0"}
                 cider/cider-nrepl {:mvn/version "0.44.0"}}}

  :client
  {:extra-deps  {org.clojure/clojurescript {:mvn/version "1.11.60"}
                 reagent/reagent           {:mvn/version "1.2.0"}
                 cljfmt/cljfmt             {:mvn/version "0.9.2"}}
   :extra-paths ["src/client"]}

  :shadow
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.8"}
                binaryage/devtools   {:mvn/version "1.0.7"}}}

  :server
  {:extra-deps  {org.clojure/clojure      {:mvn/version "1.11.1"}
                 org.clojure/core.logic   {:mvn/version "1.0.1"}
                 org.clojure/data.json    {:mvn/version "2.4.0"}
                 ring/ring-defaults       {:mvn/version "0.4.0"}
                 ring/ring-json           {:mvn/version "0.5.1"}
                 hiccup/hiccup            {:mvn/version "1.0.5"}
                 http-kit/http-kit        {:mvn/version "2.6.0"}
                 org.clojure/tools.cli    {:mvn/version "1.0.214"}
                 org.clojure/core.memoize {:mvn/version "1.0.257"}
                 clj-rss/clj-rss          {:mvn/version "0.4.0"}
                 remus/remus              {:mvn/version "0.2.4"}
                 selmer/selmer            {:mvn/version "1.12.58"}
                 com.taoensso/timbre      {:mvn/version "6.3.1"}}
   :extra-paths ["src/server"]}

  :dev-server
  {:extra-deps {ring/ring-devel     {:mvn/version "1.9.6"}
                ring-cors/ring-cors {:mvn/version "0.1.13"}}}

  :run-dev-server
  {:main-opts ["-m" "dev-server"]}

  :run-server
  {:main-opts ["-m" "clj-ts.app"]}

  :nrepl-main
  {:main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {com.cognitect/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                  :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts   ["-m" "cognitect.test-runner"]}

  :uberjar
  {:deps        {io.github.clojure/tools.build {:mvn/version "0.9.3"}}
   :extra-paths ["build"]
   :ns-default  build}}}
