{:paths ["resources" "src/common"]
 ;; clojurescript exclusion: patterning declares ClojureScript (and with it the
 ;; Closure compiler/library) as a hard dependency, but only uses it when
 ;; compiled as cljs; the client build gets ClojureScript from the :client
 ;; alias, so without the exclusion the SERVER uberjar ships megabytes of
 ;; compiler jars it never loads.
 :deps  {org.clojure/core.async        {:mvn/version "1.9.865"}
         markdown-clj/markdown-clj     {:mvn/version "1.12.9"}
         com.alchemyislands/patterning {:git/url "https://github.com/interstar/Patterning-Core.git"
                                        :sha "c22baf29cf33be1dd83dde3d0226b38ae96f77fa"
                                        :exclusions [org.clojure/clojurescript]}
         org.babashka/sci              {:mvn/version "0.15.58"}
         org.slf4j/slf4j-nop           {:mvn/version "2.0.18"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {expound/expound   {:mvn/version "0.9.0"}
                 cider/cider-nrepl {:mvn/version "0.62.2"}}}

  :client
  {:extra-deps  {org.clojure/clojurescript      {:mvn/version "1.12.145"}
                 org.clojure/math.combinatorics {:mvn/version "0.3.2"}
                 org.clojure/tools.reader       {:mvn/version "1.6.0"}
                 dev.weavejester/cljfmt         {:mvn/version "0.16.5"}
                 kixi/stats                     {:mvn/version "0.5.9"}
                 reagent/reagent                {:mvn/version "2.0.1"}
                 rewrite-clj/rewrite-clj        {:mvn/version "1.2.55"}}
   :extra-paths ["src/client"]}

  :client-tests
  {:extra-paths ["test/client"]}

  :shadow
  {:extra-deps {thheller/shadow-cljs {:mvn/version "3.4.12"}
                binaryage/devtools   {:mvn/version "1.0.7"}}}

  :server
  {:extra-deps  {org.clojure/clojure                {:mvn/version "1.12.5"}
                 io.github.lamesjinden/JobServer {:git/sha "468bd05d5e999e5eab901231647c3a458eff2b05"}
                 ;; required at runtime by JobServer's spec/fspec validation
                 org.clojure/test.check   {:mvn/version "1.1.3"}
                 org.clojure/core.logic   {:mvn/version "1.1.1"}
                 org.clojure/core.memoize {:mvn/version "1.2.281"}
                 org.clojure/data.json    {:mvn/version "2.5.2"}
                 org.clojure/tools.cli    {:mvn/version "1.4.256"}
                 org.commonmark/commonmark          {:mvn/version "0.30.0"}
                 org.commonmark/commonmark-ext-gfm-tables {:mvn/version "0.30.0"}
                 ring/ring-defaults       {:mvn/version "0.7.1"}
                 ring/ring-json           {:mvn/version "0.5.1"}
                 hiccup/hiccup            {:mvn/version "2.0.0"}
                 http-kit/http-kit        {:mvn/version "2.8.1"}
                 better-cond/better-cond  {:mvn/version "2.1.5"}
                 clj-rss/clj-rss          {:mvn/version "0.4.0"}
                 remus/remus              {:mvn/version "0.2.6"}
                 selmer/selmer            {:mvn/version "1.13.5"}
                 com.taoensso/timbre      {:mvn/version "6.8.0"}
                 org.clj-commons/hickory {:mvn/version "0.7.7"}}
   :extra-paths ["src/server"]}

  :server-tests
  {:extra-paths ["test/server"]}

  :dev-server
  {:extra-deps {ring/ring-devel     {:mvn/version "1.15.5"}
                ring-cors/ring-cors {:mvn/version "0.1.13"}}}

  :run-dev-server
  {:main-opts ["-m" "dev-server"]}

  :run-server
  {:main-opts ["-m" "wiki.bc.app"]}

  :nrepl-main
  {:main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :test-server {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                                   :git/sha "dfb30dd"}}
                :main-opts  ["-m" "cognitect.test-runner" "-d" "test/server"]
                :exec-fn    cognitect.test-runner.api/test}

  :uberjar
  {:deps        {io.github.clojure/tools.build {:mvn/version "0.10.14"}
                 babashka/process {:mvn/version "0.6.25"}
                 org.clj-commons/hickory {:mvn/version "0.7.7"}}
   :extra-paths ["build"]
   :ns-default  build}}}
