{:deps   {:aliases [:shadow :client :dev :client-tests]}
 :builds {:app
          {:target     :browser
           :output-dir "resources/public/js"
           :module-loader true
           :modules    {:main {:init-fn clj-ts.client/init}
                        :graph {:entries [clj-ts.views.graph]
                                :depends-on #{:main}}
                        :ace {:entries [clj-ts.ace]
                              :depends-on #{:main}}
                        :editor {:entries [clj-ts.views.editor]
                                 :depends-on #{:main :ace}}
                        :single-editor {:entries [clj-ts.views.editor-single]
                                        :depends-on #{:main :ace}}
                        :workspace {:entries [clj-ts.views.workspace-card]
                                    :depends-on #{:main :graph :ace}}}
           :devtools   {:preloads  [devtools.preload]
                        :watch-dir "resources/public"}
           :build-hooks
           [(shadow.cljs.build-report/hook
             {:output-to "report.html"})]}

          :tests {:target    :node-test
                  :output-to "out/node-tests.js"}}}